
<h4><u>HIGHLIGHTS OF QUALIFICATIONS</u></h4>

<p>&bull; Proven ability to troubleshooting technical issues<br />
&bull; Strong aptitude designing circuit board layouts from schematics using Eagle<br />
&bull; Extensive soldering and board assembly experience<br />
&bull; Ability to utilize existing technologies to develop new and innovative uses<br />
&bull; Experienced with the use of standard Lab equipment (i.e. Oscilloscope, function generator, multi-meter)<br />
&bull; Exceptional time management skills demonstrated through ability to effectively balance school commitments and work responsibilities<br />
&bull; Experience writing code in C++ as well as basic assembler language<br />
&bull; Experience working with Arduino; Teensy, Bluetooth, touchscreen and gyroscopic technologies</p>

<h4><u>
EDUCATION</u></h4>

<p>Conestoga College, Kitchener, Ontario 2011 - Present<br />
Electronics Engineering Technology &ndash; Telecommunications System<br />
Program Highlights<br />
&bull; Relevant areas of study: Digital Electronics (A), DC Circuits (A+), Microprocessors (B)<br />
&bull; Extensive experience documenting technical projects with detail and precision <br />
&bull; Theoretical and practical understanding of capacitors, inductors, and transistors<br />
&bull; Able to design and implement fundamental circuits</p>

<h4><u>
WORK EXPERIENCE</u></h4>

<p>Starbucks Coffee Company, Waterloo ON 2009 - Present<br />
Barista<br />
&bull; Provide personable customer service by engaging in customer needs<br />
&bull; Prepare a wide varieties of complex and customized beverage orders<br />
&bull; Responsible for coordinating set-up and changeover of seasonal in-store promotional displays<br />
&bull; Performed cashier duties </p>

<p>
Staples Inc., Waterloo ON 2009 &ndash; 2010<br />
Technology Expert, Electronics Department<br />
&bull; Provided customers with product suggestions based on need, usage, and price<br />
&bull; Developed familiarity with a wide range of computer and technical products and constantly learned about new products<br />
&bull; Assisted customers in locating specific products<br />
&bull; Performed cashier duties</p>

<h4><u>ACTIVITIES</u></h4>

<p>Skills Ontario Medalist: Electronics, Skilled Trades Competition (2013), Waterloo, Ontario<br />
&bull; Competed in a number of tasks designed to display theoretical knowledge as well as hands on circuit design and soldering skills<br />
&bull; Awarded the Bronze medal</p>

<p>Conestoga 4X4 Challenge Participant, Conestoga Engineering Competition (2013), Kitchener, Ontario<br />
&bull; Achieved a top ranking position in Conestoga College&rsquo;s engineering and design competition<br />
&bull; Developed a fingerprint and PIN secure access system, with remote user authorization via the Internet</p>

<p>Movember Fundraiser, Starbucks (2012), Waterloo, Ontario<br />
&bull; Coordinated Movember fundraising initiative for all Starbuck locations in Waterloo Region<br />
&bull; Developed Starbuck specific promotional material for in-store use, advocating awareness for men&rsquo;s health</p>

<p>Technical Director, Sir John A. Macdonald Student Association (2008-2009), Waterloo, Ontario <br />
&bull; Responsible for coordination of all technical equipment for small and major events<br />
&bull; Managed and trained school technical team </p>

<h4><u>INTERESTS AND HOBBIES</u></h4>
<p>&bull; Experimenting with computers and electronics <br />
&bull; Designing and building my own PCB projects.<br />
&bull; Repairing electronics for friends and family<br />
&bull; Participating in water sports, such as kayaking, sailing and wakeboarding <br />
&bull; Interested in a variety of musical genres, specifically folk, alternative, and alternative rock</p>